// =============
// Colors
// =============

// Color Pattles
$colorGrayLightest : #F2F4F7;
$colorGrayLighter  : #DFE4ED;
$colorGrayLight    : #BFC7D9;
$colorGray         : #939FB8;
$colorGrayDark     : #6C7891;
$colorGrayDarker   : #3B465C;
$colorGrayDarkest  : #1A2233;
$colorGrayWhite    : white;
$colorGrayBlack    : black;

// Primary Color
$colorPrimaryLight : #C2AAF2;
$colorPrimary      : #8E73DA;
$colorPrimaryDark  : #6B49AA;

// Secondary Color
$colorSecondaryBlue        : #1F9BF7;
$colorSecondaryTurquoise   : #3DE0C5;
$colorSecondaryGreen       : #13CE66;
$colorSecondaryYellow      : #F7BA2A;
$colorSecondaryOrange      : #F87B09;
$colorSecondaryRed         : #FE4949;
$colorSecondaryPink        : #E56AA6;
$colorSecondaryBueLight    : #58B7FF;
$colorSecondaryBlueDark    : #1D8CE0;
$colorSecondaryGreenLight  : #58ED9B;
$colorSecondaryGreenDark   : #10AD57;
$colorSecondaryYellowLight : #FFD063;
$colorSecondaryYellowDark  : #E3AB29;
$colorSecondaryRedLight    : #FF8686;
$colorSecondaryRedDark     : #E04141;

// Color States
$colorDefault : $colorGrayLighter;
$colorSuccess : $colorSecondaryGreen;
$colorError   : $colorSecondaryRed;
$colorWarning : $colorSecondaryYellow;
