@import "~sass/colors";
@import "~sass/grid";
@import "~sass/forms";

.inline {
  display: inline;
}

.inlineBlock {
  display: inline-block;
}

.block {
  display: block;
}

.pullRight {
  float: right;
}

.pullLeft {
  float: left;
}
