// jeet API https://github.com/mojotech/jeet/blob/master/docs/api.md
@import "~jeet/jeet";

.container {
  @include center;
}

// generate `column` and `offset` class name
$colNum: 1;
$rowWidth: 12;
@while $colNum <= $rowWidth {
  .col#{$colNum} {
    @include column($colNum/$rowWidth);
  }

  .offset#{$colNum} {
    @include column(1, $offset: $colNum/$rowWidth);
  }

  $colNum: $colNum + 1;
}
