@import "~jeet/jeet";

// jeet API https://github.com/mojotech/jeet/blob/master/docs/api.md
@mixin col($args...) {
  @include column($args...);
}

.container {
  @include center;
}

// generate `column` and `offse`t class name
$colNum: 1;
$rowWidth: 12;
@while $colNum <= $rowWidth {

  .col#{$colNum} {
    @include col(($colNum/$rowWidth));
  }

  .offset#{$colNum} {
    @include col(1, $offset: $colNum/$rowWidth);
  }

  $colNum: $colNum + 1;
}
