.profilePage {
  background: #fff;
  margin: 25px 35px;
  font-size: 14px;
}
.input {
  width: 480px;
}
.submit {
  float: right;
  margin-top: 30px;
}
.box {
  display: flex;
  justify-content: center;
  padding: 64px 0 88px 0;
}
