// app.scss
@import "./sass/reset";
@import "./sass/global";

.main {
  padding: 24px 36px;
  margin-left: 56px;
  min-height: 100vh;
}

.isNotPage {
  nav {
    display: none;
  }

  .main {
    margin-left: 0;
  }
}
