.searchInput {
  min-width: 200px;
  display: flex;
}
.submitButton{
  display: flex;
}
.lightDivButtom{
  position: relative;
  top: 50px
}

.inputMetric{
  width: 300px;
}
.newParentSelect{
  width: 300px;
}
.newTeamSelect{
  width: 300px;
}
.inputA{
  width: 100px;
}
.inputMax{
  width: 10px !important;
}
.inputP{
  width: 10px;
}
.inputNote{
  width: 100px;
}

.updateTplButDiv {
  left: 10px;
  position: relative;
  bottom: 3px;
}

.newParentSelectDiv{
  .select2-container--default{
    bottom: 3px;
    left: 5px;
  }
}
