@import "~sass/global";

.hostGroupPage {
  background: #fff;
  font-size: 14px;
}

.searchInputWrapper {
  padding: 12px 24px;
  background: $colorGrayLightest;
}

.searchInput {
  @extend .inputGroups;
  width: 500px;
}

.deleteViewBox {
  width: 404px;
}

.lb {
  padding: 12px;
}

.dualBox {
  padding-top: 20px;
}

.lbViewBox {
  padding-top: 24px;
}

.buttonAlignRight {
  float: right;
}

.buttonBig {
  width: 100%;
}

.cancelBtn {
  width: 100%;
  height: 100%;
}

.lbText {
  line-height: 34px;
}

.gridWrapper {
  padding: 24px;
}

.gridWrapperBox {
  background: #fff;
}

.hostGroupsContent {
  background: $colorGrayLighter;
}

.operrationItem {
  float: left;
}

.operrationItem + .operrationItem {
  margin-left: 12px;
}

.operration {
  color: $colorPrimary;
}

.hostGroupEditWrapper,
.pluginsListWrapper {
  padding-top: 24px;
}
